.mainPage {
    width: 100vw;
    height: 600vh;
    background-color: #1d1d1d;
    #divpage1, #divpage2, #divpage3, #divpage4, #divpage5, #divpage6 {
        position: relative;
        width: 100vw;
        height: 100vh;
        color:#fff;
    }
    .p1{    
        .logo {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 50em;
            height: 50em;
            top: 3em;
            background-image: url('../../../assets/logo.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    #page2, #page3, #page4, #page5, #page6 {
        position: absolute;
        width: 1em;
        height: 1em;
        top: -5em;
    }
    #divpage2 {
        position: relative;
    }
}
body::-webkit-scrollbar { 
    display: none; 
}
