.mainPage {
    width: 100vw;
    height: 600vh;
    background-color: #1d1d1d;
    #divpage1, #divpage2, #divpage3, #divpage4, #divpage5, #divpage6 {
        position: relative;
        width: 100vw;
        height: 100vh;
        color:#fff;
    }
    .p1{    
        .logosize {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 50%;
            width: auto;
            .logo {
                position: absolute;
                height: 100%;
                width: 40%;
                top: 0;
                right: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-image: url('../../../assets/logo2.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .moreon {
            position: absolute;
            width: 27em;
            left: 0;
            right: 0;
            margin:auto;
            top: 70%;
            .more {
                position: relative;
                width: 100%;
                height: 2em;
                .line1, .line2 {
                    position: absolute;
                    width: 3.5em;
                    height: .1em;
                    background-color: #fff;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    top: .17em;
                }
                .line1 {
                    left: 2em;
                }
                .line2 {
                    right: 2em;
                }
                .text {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 5em;
                    text-align: center;
                    font-size: 1.5em;
                    letter-spacing: 0.05em;
                }
            }
            .icons {
                display: flex;
                margin-top: 1.5em;
                position: relative;
                .inicons {
                    position: absolute;
                    width: 4em;
                    height: 4em;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .steam {
                    left: 3.5em;
                    background-image: url('../../../assets/steam_93621.svg');
                }
                .backwhite {
                    position: absolute;
                    width: 2em;
                    height: 2em;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 1em;
                    background-color: #fff;
                }
                .youtube {
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-image: url('../../../assets/Youtube_icon-icons.com_66802.svg');
                }
                .facebook {
                    right: 3.65em;
                    top: 0.25em;
                    width: 3.2em;
                    height: 3.2em;
                    background-image: url('../../../assets/facebook_icon-icons.com_53612.svg');
                }
            }
        }
    }
    #page2, #page3, #page4, #page5, #page6 {
        position: absolute;
        width: 1em;
        height: 1em;
        top: -5em;
    }
    #divpage2 {
        position: relative;
    }
}
body::-webkit-scrollbar { 
    display: none; 
}
