.mainPage {
    // ::-webkit-scrollbar{width: 16px;}
    // ::-webkit-scrollbar-track {background-color:#1d1d1d;}
    // ::-webkit-scrollbar-thumb {background-color:#1d1d1d;border-radius: 10px;}
    // ::-webkit-scrollbar-thumb:hover {background: #555;}
    // ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    // width:16px;height:16px;background:#1d1d1d;}
    width: 100vw;
    height: calc(600vh - 5em);
    background-color: #1d1d1d;
    .gradText {
        background: #55ffaa;
        background: -webkit-linear-gradient(left, #ffffcc, #baf7ea);
        background:    -moz-linear-gradient(right, #ffffcc, #baf7ea);
        background:      -o-linear-gradient(right, #ffffcc, #baf7ea);
        background:         linear-gradient(to right, #ffffcc, #baf7ea);
        -webkit-background-clip: text;
                background-clip: text;
        color: transparent;
    }
    #divpage1, #divpage2, #divpage3, #divpage4, #divpage5, #divpage6 {
        position: relative;
        width: 100vw;
        height: 100vh;
        color:#fff;
    }
    #divpage6 {
        height: calc(100vh - 5em);
    }
    .p1{
        .logosize {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: calc(7vh + 15vw);
            width: calc(15vh + 30vw);
            top: -10vh;
            margin: auto;
            .logo {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                right: 0;
                left: 0;
                right: 0;
                margin: auto;
                background-image: url('../../../assets/logofin.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .moreon {
            position: absolute;
            width: 27em;
            left: 0;
            right: 0;
            margin:auto;
            top: 70%;
            .more {
                position: relative;
                width: 100%;
                height: 2em;
                .line1, .line2 {
                    position: absolute;
                    width: 3.5em;
                    height: .1em;
                    background-color: #fff;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    top: .17em;
                }
                .line1 {
                    left: 2em;
                }
                .line2 {
                    right: 2em;
                }
                .text {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 5em;
                    text-align: center;
                    font-size: 1.5em;
                    letter-spacing: 0.05em;
                }
            }
            .icons {
                display: flex;
                margin-top: 1.5em;
                position: relative;
                .inicons {
                    position: absolute;
                    width: 4em;
                    height: 4em;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                .steam {
                    left: 3.5em;
                    background-image: url('../../../assets/steam_93621.svg');
                }
                .backwhite {
                    position: absolute;
                    width: 2em;
                    height: 2em;
                    left: 0;
                    right: 0;
                    margin: auto;
                    top: 1em;
                    background-color: #fff;
                }
                .youtube {
                    left: 0;
                    right: 0;
                    margin: auto;
                    background-image: url('../../../assets/Youtube_icon-icons.com_66802.svg');
                }
                .facebook {
                    right: 3.65em;
                    top: 0.25em;
                    width: 3.2em;
                    height: 3.2em;
                    background-image: url('../../../assets/facebook_icon-icons.com_53612.svg');
                }
            }
        }
    }
    .p2 {
        width: 100%;
        height: 100%;
        .sectionZone {
            display: flex;
            width: 85%;
            height: 60%;
            margin: auto;
            margin-top: 0%;
            .section {
                position: relative;
                width: 31%;
                height: 100%;
                .img {
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    right: 0;
                }
                .title {
                    font-size: 1.8em;
                    text-align: center;
                }
                .subTitle {
                    margin-top: 7%;
                    font-size: 1.2em;
                    text-align: center;
                    line-height: 2em;
                }
            }
            .s1, .s2 {
                margin-right: 3.5%;
            }
            .sectionIntro {
                width: 100%;
                position: absolute;
                top: calc(12vh + 12vw);
            }
            .s1 {
                .img{
                    background-image: url('../../../assets/KakaoTalk_20190509_093138298.png');
                    height: 65%;
                    width: 65%;
                    margin: auto;
                    margin-top: 6.5%;
                }
            }
            .s2 {
                .img{
                    background-image: url('../../../assets/stick.png');
                    height: 43%;
                    width: 43%;
                    margin: auto;
                    margin-top: 20%;
                }
            }
            .s3 {
                .img{
                    background-image: url('../../../assets/gasdasd.png');
                    height: 50%;
                    width: 50%;
                    margin: auto;
                    margin-top: 12%;
                }
            }
        }
    }
    .p3 {
        width: 100%;
        height: 100%;
        .teamMate {
            .profile {
                background-size: cover;
                background-repeat: no-repeat;
            }
            height: 60%;
            width: 80%;
            margin: auto;
            margin-top: 0%;
            position: relative;
            .n1, .n2, .n3, .n4, .n5 {
                position: absolute;
                width: 25%;
                height: 25%;
            }
            .line1 {
                top: 10%;
            }
            .line2 {
                top: 60%;
            }
            .n1 {
                .profile {
                    background-image: url('../../../assets/profile/c4.jpg');
                }
            }
            .n2 {
                left: 18%;
                .profile {
                    background-image: url('../../../assets/profile/c2.jpg');
                }
            }
            .n3 {
                left: 0;
                right: 0;
                margin: auto;
                .profile {
                    background-image: url('../../../assets/profile/c5.jpg');
                }
            }
            .n4 {
                right: 18%;
                .profile {
                    background-image: url('../../../assets/profile/c11.jpg');
                }
            }
            .n5 {
                right: 0;
                .profile {
                    background-image: url('../../../assets/profile/c3.jpg');
                }
            }
            .profile {                
                position: relative;
                width: 70%;
                border-radius: 50%;
                border: 0.1em solid lightgray;
                margin: auto;
            }
            .profile:before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            .name {
                padding-left: 7%;
                font-size: 1.05em;
            }
        }
    }
    .p4 {
        width: 100%;
        height: 100%;
        .content {
            margin-top: 5%;
            width: 100%;
            height: 65%;
            display: flex;
            .newsList {
                width: 50%;
                height: 100%;
                .ulLine {
                    width: 30%;
                }
                .list {
                    width: 90%;
                    height: 80%;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    overflow: scroll;
                    margin: auto;
                    li {
                        background: #55ffaa;
                        background: -webkit-linear-gradient(left, #ffffcc, #baf7ea);
                        background:    -moz-linear-gradient(right, #ffffcc, #baf7ea);
                        background:      -o-linear-gradient(right, #ffffcc, #baf7ea);
                        background:         linear-gradient(to right, #ffffcc, #baf7ea);
                        -webkit-background-clip: text;
                                background-clip: text;
                        color: transparent;
                        margin-top: 2em;
                        text-align: center;
                        font-size: 1.2em;
                    }
                    .dump {
                        margin-bottom: 2em;
                    }
                }
                
            }
            .video {
                width: 50%;
                height: 100%;
                .videoYoutube {
                    width: 90%;
                    height: 60%;
                    margin-left: 5%;
                    margin-top: 8%;
                }
            }
        }
    }
    .title {
        font-size: 1.9em;
        text-align: center;
        padding-top: 2.3%;
        font-weight: 500;
    }
    .titleLine {
        width: 7em;
        margin-top: 0.6%;
        margin-bottom: 1%;
    }
    .lineGrad {
        border: 0;
        height: 2px;
        background: linear-gradient( 90deg, #ffffcc, #baf7ea ) !important;
    }
    .introduce {
        text-align: center;
        font-size: 1.1em;
    }
    #page2, #page3, #page4, #page5, #page6 {
        position: absolute;
        width: 1em;
        height: 1em;
        top: -5em;
    }
    #divpage2 {
        position: relative;
    }
}
body::-webkit-scrollbar { 
    display: none; 
}