@font-face { 
  font-family: 'NotoSansRegular';
  src: url('./assets/font/NotoSansCJKkr-Regular.otf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'NotoSansRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
}
p { 
  padding: 0;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
